
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="section">
        <div class="section-littel">
            <h1 class="text">Create a new ccount</h1>
         <form class="box" action="">
                <label id="la1" for="user neme">Full name:</label>
                <input id="Full name" type="text" placeholder="Full name😊" />
                <label id="la1" for="email">Email:</label>
                <input id="email" type="email" placeholder="Enter email😄" />
                <label id="la1" for="password">Password:</label>
                <input id="password" type="password" placeholder="Enter password🙂" />
                <label class="la4" for="password2">Repeat password:</label>
                <input id="password2" type="password" placeholder="Enter password😉" />
            <button class="btn">Register</button>
            <div class="all"> <p >allready have account? </p>
                <a class="soal" href="">Login to your account</a>
            </div>
           
         </form>
              
        </div>
    </div>
  </body>
</html>
